# Common
.git
.gitignore
README.md
LICENSE
Dockerfile*
.dockerignore

# IDE
.vscode/
.idea/

# Env and Secrets
*.env
.env.*
.env

# Flutter
build/
.pub-cache/
.dart_tool/
packages
flutter-plugins
flutter-plugins-dependencies
frontend/

# Go
bin/
vendor/
*.test
coverage.out
goose/
goose

# Logs
*.log

# Python
__pycache__

docker-compose.prod.yml
Dockerfile