# Node, Flutter, and Dart
**/build/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
pubspec.lock
android/
ios/
linux/
macos/
test/
web/
windows/
*.iml
analysis_options.yaml

# Go
bin/
*.exe
*.out
*.test
vendor/
coverage.out
goose/
goose

# Environment & Secrets
.env
.env.*

# IDEs
.vscode/
.idea/
*.swp

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

